@use "sass:math";
@import '../../../assets/styles/variables.scss';

$center-col-width: 4%;
$pad-col: 0.4em;


.container {
  height: calc(100vh -  ( #{$top-bar-size}  +  #{$button-bar-size}  + #{$bottom-bar-size} + #{$progress-bar-size})    );
}

.left-toolbar, .right-toolbar {
  float: left;
  width: 50%;
}




.right-toolbar mat-toolbar {
  padding-left: $center-col-width ;
}


.center-col {
  float: left;
  max-width: $center-col-width;
  //height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: $pad-col;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left-col, .right-col {
  float: left;
  width: math.div(100% - $center-col-width, 2);
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding-top: 0;
  padding-right: $pad-col;
  bottom: $pad-col;
  padding-left: $pad-col;
}

.left-col {
  direction:rtl;
}



.bottom-bar {
  position: sticky;
  bottom: 0;
  z-index: 1;
  height: $bottom-bar-size;
}
