<div>
  <div class="left-toolbar">
    <app-dir-toolbar name="left"></app-dir-toolbar>
  </div>
  <div class="right-toolbar">
    <app-dir-toolbar name="right"></app-dir-toolbar>
  </div>
</div>


<div class="container">
  <div class="left-col" id="left-col">
    <app-directory-list [name]="'left'"></app-directory-list>
  </div>


  <div class="center-col">
    <button mat-icon-button title="Copy">
      <mat-icon>file_copy</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </div>


  <div class="right-col" id="right-col">
    <app-directory-list [name]="'right'"></app-directory-list>
  </div>
</div>


<mat-toolbar class="bottom-bar">

  <ng-container *ngIf = "focused!=null"   >
    <div class="file-label-container" >

      <span *ngFor="let file of files[focused]" >
        {{file.name}}<ng-container *ngIf="!file.dir">.{{file.ext}}</ng-container>
      </span>



    </div>
    <span class="global-spacer"></span>
    <div class="file-counter-container" >

      <span *ngIf="files[focused].length>0" > {{files[focused].length}} Files</span>


      <span  *ngIf="files[focused].length>0" > {{ calcBytes() | filesize }}</span>

    </div>
  </ng-container>


</mat-toolbar>


