<div>
  <div class="left-toolbar">
    <app-dir-toolbar name="left"></app-dir-toolbar>
  </div>
  <div class="right-toolbar">
    <app-dir-toolbar name="right"></app-dir-toolbar>
  </div>
</div>


<div class="container">
  <div class="left-col">
    <app-directory-list [name]="'left'"></app-directory-list>
  </div>


  <div class="center-col">
    <button mat-icon-button title="Copy">
      <mat-icon>file_copy</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>

    {{focused}}

    {{files['left'].length}} ||

     {{files['right'].length}}


  </div>





  <div class="right-col">
    <app-directory-list [name]="'right'"></app-directory-list>
  </div>
</div>


<mat-toolbar class="bottom-bar">xxx</mat-toolbar>


