

.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px 20px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1 1 auto;
  margin-right: 10px;
}

.col:last-child {
  margin-right: 0;
}
