<form [formGroup]="preferencesForm" novalidate  autocomplete="off">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title> Preferences </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Default Left Folder" formControlName="leftFolder">
            <mat-error *ngIf="preferencesForm.controls['leftFolder'].hasError('required')">
              Default Left Folder is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Default Right Folder" formControlName="rightFolder">
            <mat-error *ngIf="preferencesForm.controls['rightFolder'].hasError('required')">
              Default Right Folder is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <mat-checkbox   formControlName="rememberLastUsedFolders">Remember Last Used Folders</mat-checkbox>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary"   (click)="applyPreferences()">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
